* {
    margin: 0;
    padding: 0;
}
 a {
    text-decoration: none;

 }

 body{
    font-family: "Montserrat", sans-serif;
 }

 .center {
    padding-left: calc(50% - 720px);
    padding-right: calc(50% - 720px);
 }

 .header_center{
    height: 1024px;
    background-image: url(img/Rectangle\ 1backgraund.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

.header_title{
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 78px;
color: #fff;
display: flex;
align-items: center;
padding-top: 217.1px;
padding-left: 120.22px;
padding-right: 531px;
}
.header_text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 32px;
display: flex;
align-items: center;
color: #FFFFFF;
padding-left: 120.22px;
padding-right: 838.78px;
padding-top: 32px;
padding-bottom: 44px;
}
.header_button{

background: #EB443F;
border-radius: 30px;
box-sizing: border-box;
width: 234.06px;
height: 48.6px;
display: flex;
margin-left: 120px;
font-style: normal;
font-size: 18px;
font-weight: 400;
display: flex;
align-items: center;
color: #FFFFFF;
justify-content: space-around;
}


.block_center{
    background-image: url(img/Rectangle\ 5blockback.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}

.block_item{
display: flex;
gap: 32px;
flex-direction: row;
padding-left: 120px;
padding-top: 128px;
padding-right: 120px;
}

.item{
   
border-radius: 16px;
height: 300px;
width: 379px;
z-index: 1;
}


   